<template name="applications">
  <section id="parallax4" style='min-height: 200px;'>
    <div class="bg6"></div>
    <div class="pattern"></div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="vertical-text" style='height: 200px;'>
            <br>
            <div class="span12">
              <div class="vertical-text" style='color:#fff;position: relative; height:inherit;text-align:left;'>
                <div class='lead' style='font-size: 40px; width: 100%; padding:0;margin-top:0px;'>
                  <h1 class='application_h1'>ΚΑΝΕ ΑΙΤΗΣΗ </h1>
                  <hr/>      <!-- <h3>Application Process</h3> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='application_section' id='apply'>
  <div style='margin-top: 30px;'>
     <b><h3>ΓΙΑ ΜΑΘΗΤΕΣ</h3></b>
     <p>Τα άτομα που θα δηλώσουν το ενδιαφέρον τους απο την λίστα με τα μαθήματα, θα ενημερωθούν, για να επιβεβαιώσουν την συμμετοχή και να πληρώσουν, όταν το πρόγραμμα τους εχει συμπληρώσει τα απαραιτητα άτομα και είναι έτοιμο να ξεκινησει. Αν υπάρχουν ερωτήσεις στείλε email στο <span class='color-text'>applications@talentincubator.eu</span> </p>
  </div>
  <div style='margin-top: 30px;'>
     <b><h3>ΓΙΑ RECRUITERS </h3></b>
     <p>Μετά το τέλος του κάθε κύκλου, ενημερωνόμαστε για το ποιοί μαθητές ενδιαφέρονται για δουλεια. Για κάθε μαθητή ξέρουμε τις επιδόσεις και τις ιδιαίτερες ικανότητες του, άρα είμαστε σε θέση να δώσουμε την κατάλληλη σύσταση για ένα καλό career match. Αν υπάρχει ενδιαφέρον για συνεργασία στείλε email στο <span class='color-text'>info@talentincubator.eu</span> </p>
  </div>
   <div style='margin-top: 30px;'>
     <b><h3>ΓΙΑ ΚΑΘΗΓΗΤΕΣ </h3></b>
     <p>Αν έχετε εμπερία και ενδιαφέρεστε να κάνετε απογευματινά μαθήματα ενημερώστε μας για να δούμε αν ύπαρχει δυνατότητα να ξεκινήσουμε ένα νέο τμημα. Στείλε email στο <span class='color-text'>info@talentincubator.eu</span> </p>
  </div>
  <br>
     <div class="row page-gray not-ready" style="margin:20px 0px 20px">
      <div class="span8 offset2">
        <h3 class='marker-lead'>Δεν εισαι ετοιμος ? </h3>

        <p class='normtext'>Άμα θέλετε δώστε μας το email σας για να σας στείλουμε πληροφορίες και δωρεάν υλικό.</p> 
        <div>
          {{> subscriberClassic}}
        </div>
        <br>
      </div>

    </div>
   <!--  <h3>ΦΟΡΜΑ</h3>


    <form id="form19" name="form19" method="POST" action="//forms.brace.io/sabbidis@gmail.com">
      <table style="margin: 20px 0px 0px 0px;" class="contact_form">
        <tr>
          <th><label for="name">Πρόγραμμα</label></th>
          <td><select name="program">
            <option>Flex Introductory</option>
            <option>Full Program</option></select>

          </td>
        </tr>

        <tr>
          <th><label for="name">Όνομα</label></th>
          <td><input type="text" placeholder='e.g. Κωστας' id="Field1" name="name"></td>
        </tr>
        <tr>
          <th><label for="surname">Επίθετο</label></th>
          <td><input type="text" placeholder='e.g. Παπαδόπουλος' id="Field1" name="surname"></td>
        </tr>
        <tr>
          <th><label for="email">Email</label></th>
          <td><input type="text" id="Field3" name="_replyto" spellcheck='false' maxlength="255" tabindex='2' placeholder="you@youremail.com"></td>
        </tr>
        <tr>
          <th><label for="city">Πόλη</label></th>
          <td><input type="text" placeholder='e.g. Αθηνα' id="Field1" name="city"></td>
        </tr>
        <tr>
          <th><label for="city">Σπουδές</label></th>
          <td><input type="text" placeholder='e.g. ΑΕΙ Φυσικό' id="Field1" name="studies"></td>
        </tr>
        <tr>
          <th><label for="city">Ετών</label></th>
          <td><input type="text" placeholder='e.g. 28' id="Field1" name="age"></td>
        </tr>
        <tr>
          <th><label for="city">Γνωσεις Πληροφορικής</label></th>
          <td><textarea type="text" placeholder='e.g. Λιγο HTML' id="Field1" name="CS"></textarea></td>
        </tr>
        <tr>
          <th><label for="city">Γιατί θέλεις να μπεις στο πρόγραμμα</label></th>
          <td><textarea type="text" placeholder='e.g. Γιατί....' id="Field1" name="why"></textarea></td>
        </tr>
        <tr>
          <th></th>
          <td colspan=1>
            <div style='text-align:left;'><input type='submit' value="Submit" class="btn white" tabindex='3' style="padding:15px 25px"></div>
          </td></tr>
        </table>
      </form>  -->
  
  </section>

</template>
