
<template name="intro">
  <style type="text/css" media="screen">

    .cardout {
      box-sizing: border-box;
      float: center;
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
    .cardin{
      min-height: 400px;
      margin-bottom: 1.25em;
      text-align: center;
      padding-bottom: 3.75em;
      background: #fff;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
      border-radius: 3px;
      padding: 1.25em;
      background: #fff;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

    .badge {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.25em;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
      display: block;
      height: 80px;
      padding: 0.3125em;
      position: relative;
      width: 100px;
    } 

    .frontbadge {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.25em;
      display: block;
      height: 100px;
      padding: 0.3125em;
      position: relative;
      background: none;
      margin:auto;

    }

    .badge-img {
      border-radius: 50%;
      display: block;
      height: 100%;
    }

    .pathselected {
      text-decoration: none;
      text-align: center;
      border-bottom:none;
/*color: #4695D4;
*/
} 

a {
  text-decoration: none;
  border-bottom:none;
}

.pathselected:hover, .pathselected:focus {
  text-decoration: none;
  /*color: #4695D4;*/

}

.pathDesc{
  font-size: 85%;
  margin-bottom: 1.25em;
  margin-top: 0;
  text-align: center;
}

.cardItem {
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
  text-align: center;
  font-size: 85%;
}

.cardItem .white{
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.mleft {
  margin-left: 5px;
}
.bg7{
  background:url(/images/class2.jpg)30% 30% repeat-y fixed, url(images/parallax/class2.jpg) 30% 30% repeat-y scroll;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: absolute;
}
</style>
<!-- Start Homepage -->
<header class="header full-width" style="padding:0px;margin:0px;" id="home">
  <div class="header__background header__background--night">
    <video class="header__video" poster="images/frontpics/3.jpg" autoplay="true" loop="">
      <source src="video/academy.mp4" type="video/mp4"></video>
      </div> 
      <div class="pattern"></div>
      <div class="container">

        
          <div id="slidecaption" style="position: relative;">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div style='text-shadow: 1px 1px 3px #666;'>Πραγματικη εμπερια  - Πρακτικη γνωση
              </div>
            </div>
          </div>
              <br>
           <div class="row">
              <div class="frontbadge col-xs-3 col-sm-2 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1">
                <img alt=" Javascript 101 " class="badge-img" height="100" src="images/courses/jspart1.jpg" width="110">
              </div>
              <div class="frontbadge col-xs-3 col-sm-2 col-md-3 col-lg-2">
                <img alt=" NodeJs " class="badge-img" src="images/courses/nodejs.png" width="110">
              </div>
              <div class="frontbadge col-xs-3 col-sm-2 col-md-3 col-lg-2">
                <img alt=" AngularJs " class="badge-img" height="100" src="images/courses/angularjs.png" width="110">
              </div>
              <div class="frontbadge col-xs-3 col-sm-2 col-md-3 col-lg-2">
                <img alt=" MongoDB" class="badge-img" height="100" src="images/courses/mongodb.png" width="110">
              </div>            
              <div class="frontbadge col-xs-3 col-sm-2 col-md-3 col-lg-2">
                <img alt=" AngularJs " class="" height="100" src="images/courses/htmlcss.png" width="110">
              </div>                       
            </div>
            <div class="span12 sub-caption" id="slidecaption" style='position: relative;padding-top:0px;font-size:24px;text-shadow: 1px 1px 3px #666;'> 
              Μάθε νέα σε ταχύρυθμα απογευματινά μαθήμα, γράφοντας κωδικά μαζί με developers 
            </div>

          </div> 

        </div>
    </header>

<!--     <div class="wrapper">
      <nav id="mainnav">
        <div class="container">
          <div class="row">
            <div class="span4">
              <a href="#home" style="margin-top:-5px;" class="logo scroll-link" id='sticky_logo'><img src="images/logo.png" style="max-width: 40px;" alt="Greek Talent Accelerator Program"></a>
            </div>
            <div class="span8">
              <ul id="fluid-nav" class="fluid-navigation visible-desktop">


                <li class=''><a class='scroll-link' id='' href='index.html#why'>Γιατι</a></li>
                <li class=''><a class='scroll-link' id='' href='index.html#program'>Στοχος</a></li>
                <li class=''><a class='scroll-link' id='' href='index.html#students'>Τροπος Σκεψης</a></li>
                <li class=''><a class='external' id='' href='flexcurriculum.html'>Flex Introductory Program</a></li>
                <li class=''><a class='external' id='' href='curriculum.html'>Full Program</a></li>
                <li class=''><a class='external' id='' href='careerdevelopment.html'>Σταδιοδρομια</a></li>
                <li class=''><a class='external' id='apply-main' href='apply.html'>Αιτηση</a></li>


              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div> -->
    <!-- End Sticky Navigation -->

    <section id="overview" class="page page-gray" style='padding-bottom: 0px;'>
      <div class="container">
        <div class="row hide" style='margin-bottom: 10px;'>
          <div class="span12">
            <div class="title">Talent Accelerator Program</div>
            <hr>
          </div>
        </div> <!-- end row -->


        <div class="row homelead">
          <div class="span8">
             <!-- <p class='normtext lead' style='margin: 15px 0 25px; padding: 0 0px;'> <span class="color-text"><b>3</b></span> μήνες - <span class="color-text"><b>5</b></span> ημέρες την εβδομάδα - <span class="color-text"><b>9</b></span> ώρες την ημέρα </p>
             <p class='normtext spacier' style='margin: 15px 0 25px; padding: 0 0px;'>Αποφασισμένοι μαθητές + Πρόγραμμα προσαρμοσμένο στις ανάγκες  τις αγοράς + πολύ δουλειά  = <span class="color-text">Μελλοντική επιτυχία</span>.</p> -->

             <p class='normtext spacier'>Το πρόγραμμα σπουδών του Software developer είναι βασισμένο σε JavaScript και σε βάζει μπροστά σε νέες τεχνολογίες web όπως  <span class='dark-text'>Node.js</span>, <span class='dark-text'>Angular.js</span> και <span class='dark-text'>MongoDB</span>. Εσύ φέρνεις την ενέργεια, την περιέργεια και την προσήλωση – εμείς δίνουμε τον τρόπο να αναδειχθείς. </p>
             <br>
             <div class="row">
               <div class="span6">
                <h4> Τι προσφερουν αλλα προγραμματα:</h4>
                <ul class="list-group">
                  <li class="mleft">Πιστοποιητικά</li>
                  <li class="mleft">Χαλαρή μάθηση</li>
                  <li class="mleft">Επιδοτήσεις απο ΟΑΕΔ</li>
                </ul>              
              </div>
              <div class="span6">
                <h4> Τι προσφερουμε <span class='dark-text'> εμεις </span> :</h4>
                <ul class="list-group">
                  <li class="mleft color-text">Πρόσβαση σε δουλειές προγραμματιστή</li>
                  <li class="mleft color-text">Πρακτική γνώση που πληρώνεται και όχι μόνο στην Ελλάδα</li>
                  <li class="mleft color-text">Προσωπική σύσταση στο δίκτυο μας (για όσους πραγματικά το θέλουν) </li>
                  <li class="mleft color-text">Δουλειά... το είπα?</li>

                </ul>     
              </div>
            </div>
            <div style="text-align:center;">{{> share}}</div>
          </div>
          <div class="span4">
            <h4><strong>Δηλωσε ενδιαφερον</strong></h4>
            <p>Δήλωσε ενδιαφέρoν και μάθε πρώτος νέα και ποτέ θα ξεκινήσουμε.</p>

            <div>
              {{> subscriberClassic}}
              <br>
            </div>

<!--               <form id="form19" name="form19" method="POST" action="//forms.brace.io/sabbidis@gmail.com">
                <table class="contact_form">
                  <tr>
                    <th><label for="name">Όνομα</label></th>
                    <td><input type="text" placeholder='e.g. Κωστας Παπαδοπουλος' id="Field1" name="name"></td>
                  </tr>
                  <tr>
                    <th><label for="email">Email</label></th>
                    <td><input type="text" id="Field3" name="_replyto" spellcheck='false' maxlength="255" tabindex='2' placeholder="you@youremail.com"></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td colspan=1>

                      <div style='text-align:left;'><input type='submit' value="Κρατα με ενημερο" class="white btn btn-sm" tabindex='3' style="padding:15px 25px"></div>
                    </td></tr>
                  </table>
                </form> -->

              </div>
            </div>


          </div>
        </section>



        <!-- Start About Page -->
        <!-- End About Page -->
        <!-- Start Program Page -->
        <section id="why" class="page" style='padding-top: 30px;'>
          <div class="container">
      <!--       <div class="row">
              <div class="span12">
                <div class="title">Γιατι ομως <span class='color-text'>ενα τετοιο </span> προγραμμα ;</div>

                <hr>  </div>
              </div>-->
              <div class="row">
                <div class="span12">
                  <div class='normtext lead fs-advantage'>
                    <span class='dark-text'>Προσπαθούμε να βοηθήσουμε αυτούς που θέλουν να βοηθήσουν τους εαυτούς τους και την ελληνική αγορά που έχει ανάγκη από developers</span>

                  </div>


                </div>
              </div>
            </div>
          </section>



          <!-- Start Parallax -->
          <section id="parallax1" class='testimonial_parallax_home'>
            <div class="bg1">      </div>

            <div class="pattern"></div>
            <div class="container">
              <div class="row">
                <div class="span12">
                  <div class="vertical-text" style="">
                    <!-- <div class="parallax-title">Testimonials</div> -->
                    <h1>Μαθηματα σε JavaScript</h1>
                    <br>
                    <div class="row">
                      <div class="cardout span3">
                        <div class="cardin">
                          <div class="badge">
                            <a href="{{pathFor 'programs'}}"><img alt=" Javascript 101 " class="badge-img" height="80" src="images/courses/jspart1.jpg" width="90">
                            </a></div>
                            <h3 class="pathselected"><a href="{{pathFor 'programs'}}" class="pathselected"> Javascript <br> 101 </a></h3>
                            <p class="pathDesc">Το να είσαι καλός developer δεν σημαίνει μόνο να ξέρεις τα τελευταία frameworks και γλώσσες, αλλά να γράφεις αποτελεσματικό και καλό κώδικα. </p>
                            <div class="cardItem">
                              <a href="/paths/ios" class="btn white">View <br>Javascript</a>
                            </div>
                          </div>
                        </div>
                        <div class="cardout span3">
                          <div class="cardin">
                            <div class="badge">
                              <a href="{{pathFor 'programs'}}"><img alt="MeterJS" class="badge-img" height="90" src="images/courses/meteor.png" width="110">
                              </a></div>
                              <h3 class="pathselected"><a href="{{pathFor 'programs'}}" class="pathselected">Intro to Meteor</a></h3>
                              <p class="pathDesc">Ο πιο εύκολος τρόπος να φτιάξετε ένα interactive web app ή ένα prototype της startup ιδέας σας. Όλα σε JS.</p>
                              <div class="cardItem">
                                <a href="{{pathFor 'programs'}}" class="btn white">View MeteorJS</a>
                              </div>
                            </div>
                          </div>
                          <div class="cardout span3">
                            <div class="cardin">
                              <div class="badge">
                                <a href="{{pathFor 'programs'}}"><img alt="Intro to NodeJS" class="badge-img" height="90" src="images/courses/nodejs.png" width="110">
                                </a></div>
                                <h3 class="pathselected"><a href="{{pathFor 'programs'}}" class="pathselected">Intro to NodeJS</a></h3>
                                <p class="pathDesc">Η Node.js (JavaScript back-end) έχει γίνει ο κυρίαρχος της επόμενης γενιάς backend web development.</p>
                                <div class="cardItem">
                                  <a href="{{pathFor 'programs'}}" class="btn white">View NodeJS</a>
                                </div>
                              </div>
                            </div> 
                            <div class="cardout span3">
                              <div class="cardin">
                                <div class="badge">
                                  <a href="{{pathFor 'programs'}}"><img alt="Intro to AngularJS" class="badge-img" height="90" src="images/courses/angularjs.png" width="110">
                                  </a></div>
                                  <h3 class="pathselected"><a href="{{pathFor 'programs'}}" class="pathselected">Intro to AngularJS</a></h3>
                                  <p class="pathDesc">Single Page Web Applications" με Angular.js. Θα ξέρετε πως να χρησιμοποιείτε JavaScript MVC για την κατασκευή προηγμένων εφαρμογών web client </p>
                                  <div class="cardItem">
                                    <a href="{{pathFor 'programs'}}" class="btn white">View <br>AngularJS</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- End Parallax -->

                  <!-- Start Program Page -->
                  <section id="program" class="page">
                    <div class="container">
                     <h3><span class='color-text'>#</span>Προγραμματα</h3>
                     <div class='row'>
                      <div class='span3 normtext'>
                        <span class='color-text'><h5>ΘΕΜΕΛΙΩΔΗ</h5></span>
                        <p>Θα σου δώσουμε ότι χρειάζεται για μπορέσεις να έχεις μια σημαντική καριέρα στο χώρο, αλλά φυσικά αυτό εξαρτάται και από εσένα, στο κατά πόσο θα συνεχίζεις να αναπτύσεσαι προσωπικά. </p>
                      </div>
                      <div class='span3 normtext'>
                       <span class='color-text'> <h5>Web Development</h5></span>
                       <p>Θα μάθεις από την αρχή ως το τέλος software development χρησιμοποιώντας Node.js/Express, JavaScript, Angular.js, HTML, και CSS. Θα αναπτύξεις τρόπο σκέψης ώστε να καταλαβαίνεις προβλήματα και να βρίσκεις εφάνταστους τρόπους να τα λύσεις. </p>
                     </div>
                     <div class='span3 normtext'>
                       <span class='color-text'> <h5>ΧΡΗΣΗ ΤΩΝ ΚΑΛΥΤΕΡΩΝ ΕΡΓΑΛΕΙΩΝ </h5></span>
                       <p>Ο επαγγελματίας developer είναι πολύ περισσότερα από κάποιον που γραφεί κώδικα. Θα μάθεις πώς να χρησιμοποιείς τα κατάλληλα εργαλεία από source control σε web inspector και analytics.</p>
                     </div>
                     <div class='span3 normtext'>
                       <span class='color-text'> <h5>ΚΟΥΛΤΟΥΡΑ</h5></span>
                       <p>
                        Θα καταλάβεις την κουλτούρα του software development που όλος ο κόσμος μιλά -τουλάχιστον στο εξωτερικό-.  Θα μάθεις να δουλεύεις σε open source projects, να πηγαίνεις σε tech meetups, να κερδίζεις hackathons και να δημιουργήσεις δίκτυο στο χώρο.
                      </p>
                    </div>
                  </div>

                  <div class="row" style="margin-top:20px">
                    <div class="span12" style='text-align: center;'>
                      <p style='font-size: 24px; font-weight: normal;'>Μάθε παραπάνω για το <a href="{{pathFor 'programs'}}" class="pathselected">προγράμματα μας</a></p>
                    </div>
                  </div>


                  <br><br>

                  <div class="row">
                    <div class="span12">
                      <h3><span class='color-text'>#</span>ΣΤΟΧΟΣ</h3>

                      <hr>
                      <p class='normtext lead'><span class='dark-text'>Στόχος μας είναι να επιταχύνουμε την καριέρα σου και να σε κάνουμε επαγγελματία developer, ώστε να "μετράς" στην αγορά εργασίας ή να ξεκινήσεις την δικιά σου startup</span></p>


                      <!-- CTO Curriculum -->
                      <!-- End CTO Curriculum -->

                    </div>
                  </div>
                </div>
              </section>
              <!-- End Program Page -->
              <!-- End Team Page -->

              <!-- Start Parallax -->
              <section class='testimonial_parallax_home' id="parallax2" style='height:500px;'>
                <div class="bg7">
                  <div class="pattern">
                    <div class="container-fluid">

                      <div class="row-fluid" style="font-weight:900;">
                        <div class="span12">
                          <h1>Student Testimonials </h1>
                          <br>
                          <br>
                        </div>
                        <div class="span3 testimonial">
                          <p class="testquote">“ Εγω επειδή είχα παρακολουθήσει ξανα στο παρελθόν σεμινάριο javascript/ jquery θεωρώ ότι από το δικό σας έμαθα ουσιαστικά βασικά πράγματα που πριν δεν τα είχα καταλάβει."</p>
                          <div class="row-fluid">

                            <div class="span9">
                              <p class="student">Student JS101</p>
                            </div>
                          </div>
                        </div>


                        <div class="span3 testimonial">
                          <p class="testquote">Το επίπεδο γνώσης ήταν αρκετά advance και στοχευμένο, η αμεσότητα ερωτοαπαντήσεων θεωρώ πως βοήθησε πολύ στην κατανόηση της γλώσσας και των ιδιαιτερωτήτων της (κωλο prototype :P). Είδαμε πως είναι άμεσα υλοποιήσιμα τεχνολογίες όπως ajax και prototype και πιστεύω θα βοηθήσει άμεσα σε δουλειές web development</p>
                          <div class="row-fluid">

                            <div class="span9">
                             <p class="student">Student JS101</p>
                           </div>
                         </div>
                       </div>


                       <div class="span3 testimonial">
                        <p class="testquote">Σε γενικές γραμμές έμεινα αρκετά ικανοποιημένος και σίγουρα θα σας συστήσω σε τυχόν συναδέλφους που θέλουν να μάθουν γρήγορα και σωστά Javascript. Αναμένω νεότερα για το Node.js γιατί με ενδιαφέρει πολύ και πιστεύω ότι αξίζει η επένδυση του για το άμεσο μέλλον.</p>
                        <div class="row-fluid">

                          <div class="span9">
                            <p class="student">Student JS101</p>
                          </div>
                        </div>
                      </div>



                      <div class="span2 testimonial">
                        <p class="testquote">"Η προσπάθεια που κάνατε ήταν καλή και προσπαθησατε να υπάρξει  πραγματικό όφελος από αυτό το course και όχι να λέμε ότι έχω κάνει και σεμινάριο javascript.</p>
                        <div class="row-fluid">

                          <div class="span9">
                            <p class="student">Student JS101</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Parallax -->

            <!-- Start Students Page -->
            <section id="students" class="page page-gray">
              <div class="container">
                <div class="row">
                  <div class="span12">
                    <div class="title">ΤΙ ΠΕΡΙΜΕΝΟΥΜΕ ΑΠΟ ΕΣΑΣ</div>
                    <hr>
                    <p class='normtext'>Ψάχνουμε για άτομα που ξέρουν τι θέλουν και είναι έτοιμα να το διεκδικήσουν. Μερικά από τα χαρακτηριστικά που κοιτάμε</p>
                    <div class="row">
                      <div class="span4">
                        <span class='color-text'><h5>ΘΕΛΗΣΗ ΝΑ ΔΟΥΛΕΨΟΥΝ ΣΚΛΗΡΑ </h5></span>
                        <p>Το πιο βασικό είναι να είναι έτοιμα να δουλέψουν, να ακούσουν να μάθουν. Δεν θα είναι εύκολο, αλλά κανείς δεν πέτυχε ακολουθόντας το εύκολο μονοπάτι.</p>
                        <hr class="gray margin20 visible-phone">
                      </div>
                      <div class="span4">
                       <span class='color-text'> <h5>ΝΑ ΘΕΛΟΥΝ ΠΡΑΓΜΑΤΙΚΑ ΝΑ ΜΑΘΟΥΝ </h5></span>
                       <p>Να έχουν δείξει ότι πραγματικά θέλουν να μάθουν, τους αρέσει ο χώρος και ακόμα καλύτερα έχουν προσπαθήσει από μόνοι τους. </p>
                       <hr class="gray margin20 visible-phone">
                     </div>
                     <div class="span4">
                      <span class='color-text'><h5>"ΝΑ ΜΠΟΡΟΥΝ ΝΑ ΜΑΘΟΥΝ "</h5></span>
                      <p>Να έχουν τον τρόπο σκέψης που χρειάζεται. Δηλαδή αναλυτικό τρόπο σκέψης που να μπορεί να σπάει τα προβλήματα σε υποπροβλήματα και να καταλαβαίνει μαθηματικά.</p>
                      <hr class="gray margin20 visible-phone">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Students Page -->


          <!-- Start Parallax -->
          <section id="parallax4" style="height: 300px;">
            <div class="bg6"></div>
            <div class="pattern"></div>
            <div class="container">
              <div class="row">
                <div class="span12">
                  <div class="" style="padding-top:20px; height: 300px;">
                    <h2 class="white-text" style="margin-bottom: 20px;">Supporters - Recruiters</h2>
                    <ul class="clients">
                      <li><img src="/images/employers/bdswiss.png"></li>
                      <li><img src="/images/employers/soldecom.png"></li>
                      <li><img src="/images/employers/thecube.png"></li>
                      <li><img src="/images/employers/dopios.png"></li>
                    </ul>
                    <!-- <a href="/employers" class="btn white scroll-link">See More Employers</a> -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Parallax -->




          <!-- Start Full Team Page -->
          <section id="instructors" class="page">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <div class="title">Το οικονομικο</div>
                  <hr>

                  <div class="row">
                   <div class="span7">
                    <span class='color-text'><h5>Βασικος σκοπος ειναι να το προγραμμα να ειναι προσιτο</h5></span>
                    <p>Σκοπός μας δεν είναι να γίνουμε πλούσιοι από αυτή τη δραστηριότητα, αλλά να κάνουμε κάτι που να είναι ωφέλιμο για όλο το οικοσύστημα (αγορά, νέα παιδιά, επιχειρηματικότητα κτλ). Παρ' όλα αυτά δεν είναι ρεαλιστικό να δημιουργήσουμε κάτι μη οικονομικά βιώσιμο και φυσικά δε θεώρουμε το υγιές κέρδος κάτι κακό για μια προσπάθεια. Έχουμε υπολογίσει ένα τίμημα που πιστεύουμε οτι θα καλύπτει τα έξοδα (κανονικούς μισθούς καθηγητών και λειτουργικά έξοδα) και αυτό ανέρχεται στα <span class='color-text'><b> 200€ ΑΝΑ ΜΑΘΗΜΑ</b></span> </p>

                    <hr class="gray margin20 visible-phone">
                  </div>
                  <div class="span5">
                    <span class='color-text'><h5>ΕΚΠΤΩΣΕΙΣ </h5></span>

                    <p><span class='color-text'><b>-10% </b></span> για κάθε προηγούμενο μάθημα που κάνατε μαζί μας</p>
                    <p><span class='color-text'><b>-50% </b></span> αν είστε απόφοιτος θετικης σχολής που ψάχνει δουλειά στον χώρο και θέλετε να μπείτε στο Talent Program μας.</p>
                    <p><span class='color-text'><b>-30% </b></span> αν θέλετε να κάνετε κάποιο σύντομο project μετά το τέλος του μαθήματος</p>

                    <hr class="gray margin20 visible-phone">
                  </div>


                </div>


              </div>
            </div>
          </div>
        </section>

        <!-- End Full Team Page -->


        <!-- Start Contact Page -->
        <section id="apply" class="page page-gray">
          <div class="container">
            <div class="row">
              <div class="span12" style="text-align:center">
                {{#if currentUser}}
                {{> share}}
                {{else}}
                <div class="title center-title">Αν θεωρεις οτι το εχεις, <span class="color-text"> Log in</span> και πες μας για ποια μαθηματα ενδιαφερεσε </div>
                <hr>
                <div style="text-align:center">
                  <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
                </div>
                {{/if}}
              </div>
            </div>
            <!-- End Form -->
          </div>
        </section>
        <!-- End Contact Page -->


        <!-- Start Sidebar -->
      </template>      