<template name="services">
   <section id="parallax1" class='testimonial_parallax_home'>
        <div class="bg4">      </div>

        <div class="pattern"></div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="vertical-text" style="height: 300px;">
                <h1>  ΣΥΜΒΟΥΛΕΣ - Coaching </h1>
                <br>
                <div class="row">
                </div>
              </div>
            </div>
            <div class="span3 testimonial">
            </div>
          </div>
        </div>


</section>
<!-- End Parallax -->

<!-- Start Program Page -->
<section id="program" class="page">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="title">ΣΥΜΒΟΥΛΕΣ ΚΑΡΙΕΡΑΣ</div>
        <hr>


        <div class="row">
          <div class="span12">
            <h3><span class='color-text'>#</span>Ενημερωση για το τι θέλει αυτη τη στιγμη η αγορα </h3>
            <p class='normtext'>Τα επαγγελματικά μονοπάτια είναι διαφορετικά για κάθε άτομο, εμείς θα προσπαθήσουμε να βοηθήσουμε σε όποια επιλογή.  </p>
              
                <div class="span4">
                  <h5><span class='color-text'>Προωθηση ΒΙΟΓΡΑΦΙΚΟΥ </span></h5>
                  <p>Μπορεί η οικονομία να αργοπεθαίνει, παρόλα αυτά η ελληνική αγορά έχει ανάγκη από developers. Πολυεθνικές, μεσαίες εταιρίες αλλά και startups <br>
                  </p>
                </div>
                <div class="span4">
                  <h5><span class='color-text'>EΠΑΓΓΕΛΜΑΤΙΚΕΣ ΕΠΙΛΟΓΕΣ</span></h5>
                  <p>Στην ευρώπη υπάρχει ζήτηση για developers, με πολύ καλούς μισθούς. Αν έχεις τις απαιτούμενες γνώσεις σε ξένες γλώσσες, η επιλογή αυτή είναι σίγουρα η πιο συμφέρουσα οικονομικά.</p>
                </div>
                <div class="span3">
                  <h5><span class='color-text'>Δικια σας Startup</span> </h5>
                  <p> Η εποχή μπορεί να είναι η καλύτερη για να επιχειρήσει κάποιος. Μετά το τέλος του προγράμματος, θα είσαι σίγουρα έτοιμος να φτιάξεις το πρώτο version.  </p>
                </div> 
              
            </div>
          </div>
          <br><br>

        </div>
      </div>
    </div>
  </section>
  <!-- End Program Page -->
  <!-- End Team Page -->


  <!-- Start Students Page -->
  <section id="students" class="page page-gray">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="title">Online επαγγελματικο προφιλ και CV</div>
          <hr>
          <p class='normtext'>Θα βοηθήσουμε σε όλα τα στάδια της αναζήτησης, από τη σύνταξη του CV και να εμπλουτίσουμε το github portfolio σου , μέχρι το profile του Linkedin. </p>
         
            <div class="span4">
              <span class='color-text'><h5>GITHUB </h5></span>
              <p>Ως developer, πρέπει να έχεις ένα ανεπτυγμένο portfolio στο github. Ο recruiter θα σε επιλέξει από το CV, αλλά ο manager σε θα διαλέξει από τα project σου. </p>
              <hr class="gray margin20 visible-phone">
            </div>
            <div class="span4">
             <span class='color-text'> <h5>LINKEDIN</h5></span>
             <p>Το εργαλείο των recruiters. Το προφίλ πρέπει να είναι άψογο και να παρουσιάζεται ο υποψήφιος με τον καλύτερο τρόπο.  </p>
             <hr class="gray margin20 visible-phone">
           </div>
           <div class="span3">
            <span class='color-text'><h5>CV</h5></span>
            <p>Το CV είναι ένα εργαλείο, ιδιαίτερα στην Ελληνική αγορά, θα το δούμε και θα το ξαναγράψουμε (Αγγλικά και Ελληνικά) όπως το περιμένουν οι recruiters. </p>
            <hr class="gray margin20 visible-phone">
          </div>
      
      </div>
    </div>
  </div>
</section>
<!-- End Students Page -->


<!-- Start Parallax -->
<section id="parallax4" style='height: 350px;'>
  <div class="bg3"></div>
  <div class="pattern"></div>
  <div class="container">
    <div class="row">
      <div class="span12">

      </div>
    </div>
    </div>
  </section>
  <!-- End Parallax -->




  <!-- Start Full Team Page -->
  <section id="instructors" class="page">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="title">Συνεντευξεις</div>
          <hr>
          
          
           <div class="span6">
            <span class='color-text'><h5>Προετοιμασια</h5></span>
            <p>Κατά την διάρκεια των μαθημάτων, θα λύνουμε ασκήσεις αλλά και στο τέλος θα κάνουμε mock interviews ώστε να προσπαθήσουμε να διορθώσουμε τα λάθη σας.</p>


          </div>
          <div class="span5">
            <span class='color-text'><h5>Κανονικες και οnline συνεντευξεις</h5></span>
            <p>Για να γίνουν οι συνεντεύξεις πρέπει να υπάρχουν οι ενδιαφερόμενες εταιρίες. Στόχος μας είναι να δημιουργήσουμε σχέσεις εμπιστοσύνης με ελληνικές αλλά και με ευρωπαικές εταιρίες. Για τις εταιρίες εκτός Αθήνας, θα έχουμε interview room ώστε να μπορούμε να διεξάγουμε online interviews και tests.</p>
          </div>



       
      </div>
    </div>
    </div>
  </section>

  <!-- End Full Team Page -->


  </template>