<template name="home">
  <div class="container home">
    <div class="page-header">
      <h1>Welcome to the Talent Incubator Classroom</h1>
    </div>
    {{#if currentUser}}
<section class="tinted">
  <div class="container category-blocks">
    <a href="{{pathFor 'workout'}}">
      <i class="icon-category-getting-started-red hover-icon"></i>
      <span class="cat-name">Reports</span>
    </a>
    <a href="{{pathFor 'postsList'}}">
      <i class="icon-category-receiving-red hover-icon"></i>
      <span class="cat-name">Forum</span>
    </a>
    <a href="/blog">
      <i class="icon-category-sending-red hover-icon"></i>
      <span class="cat-name">Blog</span>
    </a>

  </div>
</section>
{{else}}
	<div>
  if you are a student in one of the programs 


  Please <a href="{{ pathFor 'entrySignIn' }}" class="">Sign in</a> to use classroom tools
		</div>
    <br>
    <br>
    <br>
    <br>
 <div class="offset3 span6">
 <p>We have a forum for questions, a report section and a blog for assignments and homework</p>
     <img src="/images/classroomtools.png" alt="">
 </div>
 
    {{/if }} 
  </div>
</template>
