<template name="home">
  <div class="home">
    <div class="page-header">
      <h1>Welcome to the Talent Incubator Classroom</h1>
    </div>
    {{#if currentUser}}
<section class="tinted">
  <div class="container category-blocks">
    <a href="{{pathFor 'workout'}}">
      <i class="icon-category-getting-started-red hover-icon"></i>
      <span class="cat-name">Assignments</span>
    </a>
    <a href="{{pathFor 'postsList'}}">
      <i class="icon-category-receiving-red hover-icon"></i>
      <span class="cat-name">Forum</span>
    </a>
    <a href="{{ pathFor 'profile' }}">
      <i class="icon-category-sending-red hover-icon"></i>
      <span class="cat-name">Profile</span>
    </a>

  </div>
</section>
{{else}}
	Please <a href="{{ pathFor 'entrySignIn' }}" class="">Sign in</a> to use classroom tools
		{{/if }} 
  </div>
</template>
