<template name="header">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">
<span><img src="/images/logo.png" style="height:20px" alt=""/></span>
        <span>Classroom</span></a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav" style="">
           {{#if currentUser}}
          <li class="{{activeRouteClass 'reports' 'workout'}}">
            <a href="{{pathFor 'workout'}}"><b>Reports</b></a>
          </li>
      
          <li class="{{activeRouteClass 'reports/new' 'workoutInsert'}}">
            <a href="{{pathFor 'workoutInsert'}}">Submit report</a>
          </li> 
         <li class="{{activeRouteClass 'forum'}}">
          <a href="{{pathFor 'postsList'}}"><b>Forum</b></a>
        </li>
        <li class="{{activeRouteClass 'newPosts'}}">
          <a href="{{pathFor 'newPosts'}}">Newest</a>
        </li>
        <li class="{{activeRouteClass 'bestPosts'}}">
          <a href="{{pathFor 'bestPosts'}}">Voted</a>
        </li>
         <li class="{{activeRouteClass 'postSubmit'}}">
          <a href="{{pathFor 'postSubmit'}}">Submit Question</a>
        </li>   
        <li class="{{activeRouteClass 'blog'}}">
          <a href="/blog"><b>Blog</b></a>
        </li>    
        <li class="dropdown">
          {{> HeaderNotifications}}
        </li>
        {{/if}}
      </ul>
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ pathFor 'profile' }}"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="{{ pathFor 'entrySignOut' }}" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
              </ul>
            </li>
          </ul>
        {{else}}
         <div class="navbar-right">
            <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
            <a href="{{ pathFor 'entrySignUp' }}" class="btn btn-primary navbar-btn">Register</a>
         </div>
        {{/if}}

  <!--         <li class="{{ activeRouteClass 'dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-gear"></i> Dashboard</a></li>
        </ul> -->
      </div>

    </div>
  </nav>
</template>

<template name="mainheader">
  <nav class="navbar navbar-default navbar-static-top" style="margin-bottom:0px;border:0px;" role="navigation" id="mainnav">
        <div class="container-fluid">
          <div class="row">
            <div class="navbar-header span2">
              <a href="{{pathFor 'intro'}}" style="margin-top:-5px;" class="navbar-brand scroll-link" id='sticky_logo'><img src="/images/logo.png" style="max-width: 40px;" alt="Greek Talent Accelerator Program"></a>
            </div>
            <div class="span6 collapse navbar-collapse" id="main-nav">
              <ul id="fluid-nav" style="float: left;" class="fluid-navigation visible-desktop">

                <li class="">
                <a href="{{pathFor 'intro'}}"><b>Home</b></a>
                </li>
                <li class="">
                <a href="{{pathFor 'programs'}}"><b>Courses</b></a>
                </li>   
                <li class="">
                <a href="{{pathFor 'about'}}"><b>About</b></a>
                </li>                 
                <li class="">
                <a href="{{pathFor 'home'}}"><b>Classroom</b></a>
                </li>      
               <li class="">
                <a href="{{pathFor 'services'}}"><b>Extra Services</b></a>
                </li>                                                            
                <li class="">
                <a href="{{pathFor 'applications'}}"><b>Apply</b></a>
                </li>               

              </ul>
            </div>
          <div class="span3" style="float:right;padding-right:10px;">  
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ pathFor 'profile' }}"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="{{ pathFor 'entrySignOut' }}" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
              </ul>
            </li>
          </ul>
        {{else}}
         <div class="navbar-right">
            <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
            <a href="{{ pathFor 'entrySignUp' }}" class="btn btn-primary navbar-btn">Register</a>
         </div>
        {{/if}}
        </div>
          </div>
        </div>
      </nav>
</template>
