<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Classic Meta Tags -->
  <meta name="description" content="Κέρδισε πραγματική γνώση, σε ταχύρυθμα απογευματινά μαθήματα, γράφοντας κώδικα μαζί με developers"/>

  <!-- Open Graph Meta Tags -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="JS, NodeJS, Angular - Talent Incubator Coding Bootcamps "/>
  <meta property="og:description" content="Εμπειρική γνώση, σε ταχύρυθμα απογευματινά μαθήματα, γράφοντας κώδικα μαζί με developers"/>
  <meta property="og:site_name" content="Talent Incubator Coding Bootcamps"/>
  <meta property="og:url" content="https://talentincubator.eu/"/>
  <meta property="og:image" content="https://gallery.mailchimp.com/39f11f360c81f67211a8c45b5/images/319658c6-5ed8-46a6-85a1-00e516bd59c3.png"/>

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="Talent Incubator Coding Bootcamps"/>
  <meta name="twitter:title" content="JS, NodeJS, Angular - Talent Incubator Coding Bootcamps"/>
  <meta name="twitter:description" content="Εμπειρική γνώση, σε ταχύρυθμα απογευματινά μαθήματα, γράφοντας κώδικα μαζί με developers"/>
  <meta name="twitter:image" content="https://gallery.mailchimp.com/39f11f360c81f67211a8c45b5/images/319658c6-5ed8-46a6-85a1-00e516bd59c3.png"/>
  <meta name="twitter:site" content="https://talentincubator.eu/"/>
  <meta name="twitter:creator" content="@ssavvidis"/>


  <link rel="shortcut icon" href="/images/favicons/favicon.ico?v=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png?v=1">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png?v=1">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png?v=1">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png?v=1">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png?v=1">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png?v=1">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png?v=1">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png?v=1">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png?v=1" sizes="192x192">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png?v=1" sizes="160x160">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png?v=1" sizes="96x96">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png?v=1" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png?v=1" sizes="32x32">
  <meta name="msapplication-TileColor" content="#27374a">
  <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png?v=1">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
</head>
