<template name="programs">



<section id="parallax4" style='min-height: 200px;'>
    <div class="bg6"></div>
    <div class="pattern"></div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="vertical-text" style='height: 200px;'>
            <br>
            <div class="span12">
              <div class="vertical-text" style='color:#fff;position: relative; height:inherit;text-align:left;'>
                <div class='lead' style='font-size: 40px; width: 100%; padding:0;margin-top:0px;'>
                Προγράμματα - Μαθήματα

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container the_curriculum">
     <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt=" HTML5 & CSS " class="badge-img" height="80" width="90" src="images/courses/htmlcss.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span> Intro to CS : HTML5 & CSS</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>Η HTML είναι markup γλώσσα που τα ξεκίνησε όλα και παραμένει η ραχοκοκαλιά του web. Η HTML5 προσθέτει νέες ετικέτες και τις νέες δυνατότητες στο web browsers. Η HTML είναι από τις ευκολότερες γλώσσες και ταυτόχρονα είναι και πολύ χρήσιμη (prerequirments NONE).</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">Intro to CS</li>
                  <li class="list-group-item">HTML / CSS</li>
                  <li class="list-group-item">Bootstrap</li>
                 <li class="list-group-item">Intro to Programming</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : TBA</li>
                   <li class="list-group-item">Project 2 : TBA</li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="html101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>


      <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt=" Javascript 101 " class="badge-img" height="80" width="90" src="images/courses/jspart1.jpg">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span> JS 101</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>Το να είσαι καλός developer δεν σημαίνει μόνο να ξέρεις τα τελευταία frameworks και γλώσσες, αλλά να γράφεις αποτελεσματικό και καλό κώδικα. Γι’αυτό το λόγο ξεκινάμε με ένα καλό overview στα θεμελιώδη της JS (prerequirements γνώση HTML ή το course HTML101).</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">Operators - Functions</li>
                  <li class="list-group-item">Object Oriented Programing</li>
                  <li class="list-group-item">Events</li>
                 <li class="list-group-item">Using APIs</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : Simple HTML5 game</li>
                   <li class="list-group-item">Project 2 : Simple Authorization system</li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="js101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>

      <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt=" NodeJS 101 " class="badge-img" height="80" width="90" src="images/courses/nodejs.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span> NodeJS 101</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>Η JavaScript είναι μια απίστευτα ευέλικτη και δημοφιλής γλώσσα και θα γίνει γρήγορα το «lingua franca» του web. Η Node.js (JavaScript back-end) έχει γίνει ο κυρίαρχος της επόμενης γενιάς backend web development (prerequirements γνώση HTML,JS ή τα courses JS101,HTML101).</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">Server Side</li>
                  <li class="list-group-item">Intro to MongoDB and ExpressJS</li>
                  <li class="list-group-item">SocketIO</li>
                 <li class="list-group-item">Persisting Data</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : A Blog with comments</li>
                   <li class="list-group-item">Project 2 : ΤΒΑ</li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="node101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>

      <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt=" AngularJS 101 " class="badge-img" height="80" width="90" src="images/courses/angularjs.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span> AngularJS 101</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>"Single Page Web Applications" με Angular.js. Θα ξέρετε πως να χρησιμοποιείτε JavaScript MVC για την κατασκευή προηγμένων εφαρμογών web client, όπως το Gmail και το Facebook (prerequirements γνώση HTML,JS ή τα courses JS101,HTML101).</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">TBA</li>
                  <li class="list-group-item">TBA</li>
                  <li class="list-group-item">TBA</li>
                 <li class="list-group-item">TBA</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : eCommerce shop</li>
                   <li class="list-group-item">Project 2 : TBA</li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="angular101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>

 <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt=" MeteorJS 101 " class="badge-img" height="80" width="90" src="images/courses/meteor.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span> MeteorJS 101</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>Ο πιο εύκολος τρόπος να φτιάξετε ένα interactive web app ή ένα prototype της startup ιδέας σας. Όλα σε JS (prerequirements γνώση HTML,JS ή τα courses JS101,HTML101). </p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">MVC</li>
                  <li class="list-group-item">Intro to Mongo - Data binding</li>
                  <li class="list-group-item">Real time webapps</li>
                 <li class="list-group-item">Packages</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : A project management app </li>
                   <li class="list-group-item">Project 2 : ΤΒΑ</li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item">Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="meteor101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>
      <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt=" MongoDB " class="badge-img" height="80" width="90" src="images/courses/mongodb.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span> MongoDB</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>H πιο διαδεδομένη NoSQL Database. Χρησιμοποιήται στο MEAN stack και σε big data (prerequirements γνώση backend coding ή το course NodeJS101).</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">CRUD</li>
                  <li class="list-group-item">Schema design</li>
                  <li class="list-group-item">Performance</li>
                 <li class="list-group-item">Mongoose</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : ΤΒΑ</li>
                   <li class="list-group-item">Project 2 : ΤΒΑ</li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="mongodb101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>
<section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt=" Python " class="badge-img" height="80" width="90" src="images/courses/python.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span>Programing for Data Scientist: Python101</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>Προγραμματισμός με Python. Γλώσσα ευρέως διαδεδομένη σε backend development και data science (prerequirements NONE).</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">Intro to Programming</li>
                  <li class="list-group-item">Python</li>
                  <li class="list-group-item">OOP</li>
                 <li class="list-group-item">Using Modules</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : ΤΒΑ</li>
                   <li class="list-group-item">Project 2 : ΤΒΑ</li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="mongodb101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>

      <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt="data101 " class="badge-img" height="80" width="90" src="images/courses/weka.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span>Intro to Data Analysis</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>Η ανάλυση δεδομένων είναι πλέον απαραίτητη σε διαφοόρους κλάδους, από marketing, computer science, sales, scrappers κλπ (prerequirements γνώση μαθηματικών και βασικού προγραμματισμού ή το course JS101/Python101).</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">TBA</li>
                  <li class="list-group-item">TBA</li>
                  <li class="list-group-item">TBA</li>
                 <li class="list-group-item">TBA</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : ΤΒΑ </li>
                   <li class="list-group-item">Project 2 :ΤΒΑ </li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="mongodb101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>

      <section>
        <div class="row">
          <div class="span2" style="text-align:center">
          <img alt="data202 " class="badge-img" height="80" width="90" src="images/courses/weka.png">
         </div>
         <div class="span10">
            <h3><span class='color-text'>#</span>Data Mining</h3>
            <hr>
          </div>
             <div class="span12">
            <p class='normtext'>Η θέση του Data scientist θα είναι απαραιτητή σε κάθε επιχείρηση και ήδη υπάρχει μεγάλη ζήτηση για τέτοια στέλεχη (prerequirements καλή γνώση μαθηματικών, Data analysis και βασικού προγραμματισμού ή το Python101, Data101)</p>
              <div class="span4">
                <h5>Learning Points</h5>
                <ul class="list-group">
                  <li class="list-group-item">Intro to Data Formats(JSON, XML, Relational, Triples)</li>
                  <li class="list-group-item">Cleaning Data(OpenNLP,Protege)</li>
                  <li class="list-group-item">Working with Data (R, Apache Stat, d3)</li>
                 <li class="list-group-item">Classifying and presenting (Weka)</li>
                 
                </ul>
              </div>
              <div class="span4">
                <h5>Logistics</h5>
               <ul class="list-group">

                  <li class="list-group-item">Project 1 : ΤΒΑ </li>
                   <li class="list-group-item">Project 2 :ΤΒΑ </li>                  
                   <li class="list-group-item">Price : 200e (for discount see main page)</li>
                   <li class="list-group-item"> Meetings : 8 meetings in total. Two evenings per week, 19:00-21:00 for 4 weeks</li>
                </ul>
              </div>
              <div class="span3">
                <h5>Δηλωσε ενδιαφερων και οταν συμπληρωθουν > 5 ατομα θα σε ενημερωσουμε </h5>
                <div style="text-align:center;">
              {{#if currentUser}}
              <button type="button" data="mongodb101" class="coursebutton btn btn-default white">
                Interested - Count me in
              </button>
              {{> share}}
            {{else}}
             <div class="">
                <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
             </div>
             {{> share}}
            {{/if}}
                </div>
              </div>
            </div>
        </div>
        <hr>
      </section>

      
     <!--  <section>
        <div class="row">
          <div class="span12">
            <h3><span class='color-text'>#</span> NodeJS 101</h3>
            <hr>
            <p class='normtext'>Η JavaScript επαναπροσδιορίζει το τι σημαίνει μια σύγχρονη web εφαρμογή και ένας πολύ καλός developer ξεκινά με το να είναι πολύ καλός στο κώδικα. </p>
              <div class="span3">
                <h5>Object-Oriented Programming</h5>
                <p>Object-Oriented programming είναι ο πιο δημοφιλής τρόπος σε σχεδιασμό, τμηματικών, επαναχρησιμοποίησιμων δομών. Θα μάθετε Object-Oriented σε javascipt και πως δουλεύετε σήμερα στο internet.</p>
              </div>
              <div class="span3">
                <h5>Asynchronous Programming</h5>
                <p>Asynchronous programming είναι ένα από τα πιο συναρπαστικά χαρακτηριστικά του προγραμματισμού σε JS/Node.js. Θα μάθετε να δουλεύετε callbacks και την χρήση των δημοφιλών βιβλιοθηκών.</p>
              </div>
              <div class="span3">
                <h5>Recursion</h5>
                <p>Recursion είναι μια προηγμένη μέθοδος για την επίλυση προβλημάτων με βάση τη στρατηγική επαχρησιμοποίησης κωδικα. Είναι ευρέως δοκιμασμένη σε συνεντεύξεις και συνήθως χρησιμοποιείται για την επίλυση περίπλοκων αλγορίθμων.</p>
              </div>
              <div class="span3">
                {{#if currentUser}}
                <button type="button" data="node101" class="coursebutton btn btn-default white">
                  Interested - Count me in
                </button>
                {{else}}
                <div class="">
                  <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
                </div>
                {{/if}}
              </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="span12">
            <h3><span class='color-text'>#</span> Angular 101</h3>
            <hr>
              <div class="span4">
                <h5>Angular.js/JavaScript MVC</h5>
                <p>Η JavaScript επαναπροσδιορίζει το τι σημαίνει μια σύγχρονη web εφαρμογή. Θα ξεκινήσουμε με τη χρήση jQuery για απλές αλλαγές στην σελίδα και να προχωρήσουμε να μελετήσουμε τα σχεδιαστικά πρότυπα του "Single Page Web Applications" με Angular.js. Θα ξέρετε πως να χρησιμοποιείτε JavaScript MVC για την κατασκευή προηγμένων εφαρμογών web client, όπως το Gmail, το Facebook και το Google Maps.</p>
              </div>
              <div class="span4">
                <h5>HTML5</h5>
                <p>Η HTML είναι markup γλώσσα που τα ξεκίνησε όλα και παραμένει η ραχοκοκαλιά του web. Η HTML5 προσθέτει νέες ετικέτες και τις νέες δυνατότητες στο web browsers. Η HTML είναι από τις ευκολότερες γλώσσες και ταυτόχρονα είναι και πολύ χρήσιμη.</p>
              </div>
              <div class="span3">
                  {{#if currentUser}}
                  <button type="button" data="angular101" class="coursebutton btn btn-default white">
                    Interested - Count me in
                  </button>
                  {{else}}
                  <div class="">
                    <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
                  </div>
                  {{/if}}

              </div>
          </div>
        </div>
      </section>


      <section>
        <div class="row">
          <div class="span12">
            <h3><span class='color-text'>#</span> MongoDB 101</h3>
            <hr>
              <div class="span4">
                <h5>Node.js/Express</h5>
                <p>Η JavaScript είναι μια απίστευτα ευέλικτη και δημοφιλής γλώσσα και θα γίνει γρήγορα το «lingua franca» του web. Η Node.js (JavaScript back-end) έχει γίνει ο κυρίαρχος της επόμενης γενιάς backend web development.</p>
                <p></p>
              </div>
              <div class="span4">
                <h5>Services and Apis</h5>
                <p>Ta APIs μας επιτρέπουν να συνδέουμε τεράστια μεγέθη δεδομένων με μεγάλη λειτουργικότητα. Για παράδειγμα, θα μάθουμε για τα συστήματα ελέγχου ταυτότητας μέσω OAuth και τα συστήματα πληρωμών με χρήση APIs από παρόχους όπως Stripe και Balanced.</p>
              </div>
              <div class="span3">
                {{#if currentUser}}
                <button type="button" data="mongodb101" class="coursebutton btn btn-default white">
                  Interested - Count me in
                </button>
                {{else}}
                <div class="">
                  <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
                </div>
                {{/if}}
              </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="span12">
            <h3><span class='color-text'>#</span> HTML 101 </h3>
            <hr>
              <div class="span4">
                <h5>SQL</h5>
                <p>Η SQL είναι η γλώσσα που χρησιμοποιείτε ευρέως στην επικοινωνία των web εφαρμογών, για την αποστολή και ανάκτηση δεδομένων από τη βάση δεδομένων. Θα μάθουμε να γράφουμε SQL και στη συνέχεια πώς να αποφύγουμε να γράφουμε όταν δεν χρειάζεται.</p>
              </div>
              <div class="span4">
                <h5>MongoDB/NoSQL</h5>
                <p>Πέρα από τις παραδοσιακές βάσεις δεδομένων, υπάρχει μια μεγάλη ποικιλία από "NoSQL" datastores που εξυπηρετούν διαφορετικές ανάγκες. Θα μάθετε πώς να σκέφτεστε για το που και γιατί να χρησιμοποιούν αυτές τις νέες τεχνολογίες.</p>
              </div>
              <div class="span3">
                {{#if currentUser}}
                <button type="button" data="html101" class="coursebutton btn btn-default white">
                  Interested - Count me in
                </button>
                {{else}}
                <div class="">
                  <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default white">Sign in</a>
                </div>
                {{/if}}
              </div>
          </div>
          </div>
      </section> -->

    <br>
    <br>

      <div class="row">
        <div class="span12">
          <div class="info-block">
            <h3>ΓΝΩΣΗ ΤΩΝ ΑΠΑΙΤΗΣΕΩΝ ΤΗΣ ΑΓΟΡΑΣ ΚΑΙ ΤΗΣ ΚΑΤΕΥΘΥΝΣΗΣ ΤΗΣ ΤΕΧΝΟΛΟΓΙΑΣ </h3>

            <p class='normtext'>Το πρόγραμμα σπουδών θα βασίζεται στα τελευταία trends του web development. Θα σας εκπαιδεύσουμε όχι μόνο να καταλαβαίνετε τις τελευταίες τεχνολογίες αλλά να θέλετε να ανακαλύπτετε ότι καινούριο συμβαίνει και να το μαθαίνετε μόνοι σας. </p>

            <p class='normtext'>Επιλέγουμε να δουλεύουμε καταρχάς με JavaScript καθώς είναι η πιο διάσημη και χρησιμοποιούμενη γλώσσα προγραμματισμού στο κόσμο. Το μέλλον στο web είναι δυναμικό , real-time και με την JavaScript θα μπορείτε να ανταποκριθείτε. </p>
            <br>
            {{#if currentUser}}
            {{else}}
            <div class="row page-gray not-ready" style="margin-bottom:0px">
              <div class="span8 offset2">
                <h3 class='marker-lead'>Δεν εισαι ετοιμος ? </h3>

                <p class='normtext'>Άμα θέλετε δώστε μας το email σας για να σας στείλουμε πληροφορίες και δωρεάν υλικό.</p> 
                <div>
                  {{> subscriberClassic}}
                </div>
              </div>

            </div>
            {{/if}}

          </div>
          <!-- End Info Block -->
        </div>

      </div>
      <br>
    </div>
</template>


<template name="share">
<div class="share-buttons">
  <a target="_blank" class="btn btn-facebook fb-share" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{url}}&amp;p[title]=JS courses&amp;p[summary]=Learn JS/NodeJS/Angular"><i class="fa fa-facebook"></i><span class="hidden-sm hidden-xs"> Share on Facebook </span></a>
    <a class="btn btn-twitter tw-share" href="https://twitter.com/intent/tweet?url={{url}}&amp;text=Learn JS/NodeJS/Angular"><i class="fa fa-twitter"></i><span class="hidden-sm hidden-xs"> Share on Twitter </span></a>
</div>
</template>
