<template name="profile">
<style type="text/css" media="screen">
  #main > div > div > form > input {
    display: inline-block;
margin: 10px 10px 10px 0;
padding: 11px 30px;
line-height: 1.5;
background: #000B42;
color: #fff;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0;
font-family: 'Montserrat', 'Trebuchet MS', sans-serif;
cursor: pointer;
border: none;
border-radius: 60px;
-webkit-font-smoothing: antialiased;

  }
</style>
<div class="container">
  <div class="profile" style="width:70%;background-color:inherit">
    <h2>Edit Profile</h2>
    <form>
      {{#each profileFields}}
        {{> _profileField}}
      {{/each}}
      {{submit_button 'Update Profile'}}
    </form>
  </div>
 </div>
</template>


<template name="_profileField">
  {{#if isTextField}}
    <div class="form_group">
      {{#with profile}}
        {{text_field ../name type=../type required=../required hint=../hint placeholder=../placeholder afterAddon=../afterAddon class="profileField"}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isTextArea}}
    <div class="form_group">
      {{#with profile}}
        {{text_area ../name type=../type required=../required hint=../hint placeholder=../placeholder afterAddon=../afterAddon class="profileField"}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isCheckbox}}
    <div class="checkbox">
      {{#with profile}}
        {{check_box name label=label required=required}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isFileField }}
    <div class="form_group">
      {{> file_field object=profile field=name}}
    </div>
  {{/if}}
</template>
